
/*  forklarende kommenter, værdigfuld indsigt */

body{
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

input {
    background-color: #eee;
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid;
}

button {
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}